@charset "UTF-8";
/* CSS Document */

/*NAVBAR*/
.navbar {
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  justify-content: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Helvetica Neue', sans-serif;
  margin: 0;
}

.navbar a {
  font-weight: 70;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}


body {
 margin-top: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
 margin-left: 10px;
 font-size: 13px;
}

@media (min-width: 858px) {
        html {
            font-size: 13px;
        }
    }

    @media (min-width: 780px) {
        html {
            font-size: 12px;
        }
    }

    @media (min-width: 702px) {
        html {
            font-size: 16px;
        }
    }

    @media (min-width: 724px) {
        html {
            font-size: 16px;
        }
    }

    @media (max-width: 623px) {
        html {
            font-size: 13px;
        }
    }

a:link {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	transition: color .2s ease-out;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
	color: #bac2d1;
	transition: color .1s ease-out;
  -moz-transition: color .1s ease-out;
  -webkit-transition: color .1s ease-out;
  -o-transition: color .1s ease-out;
}
a:active {
	text-decoration: none;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
    box-sizing:border-box;
    width: 1000px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    -webkit-border-horizontal-spacing: 10px;
    -webkit-border-vertical-spacing: 10px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.style1 {
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Helvetica Neue', sans-serif;
	padding-left: 50px;
	padding-right: 50px;
	font-style:italic;
}

.style2 {
	font-size: 16px;
	color: #000000;
	font-family:  -apple-system, BlinkMacSystemFont, 'Roboto','Helvetica Neue', sans-serif;
	font-weight: 700;
	font-style: italic;	
}

.style3 {
	font-size: 14px;
	color: #000000;
	font-family:-apple-system, BlinkMacSystemFont, 'Roboto','Helvetica Neue', sans-serif;
	font-weight: 400;
	font-style: italic;	
}

.style4 {
	font-size: 10px;
	color: #000000;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Helvetica Neue', sans-serif;
	font-weight: 400;
	font-style: italic;	
}


li {
	display: inline;
	margin: 4px;
	}

td {
	vertical-align: top;
	line-height: 120%;
	display:table-cell;
}

img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}
