@charset "UTF-8";
/* CSS Document */

body {
 margin-top: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
 margin-left: 10px;
 font-size: 13px;
}

/*NAVBAR*/
.navbar {
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  justify-content: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Helvetica Neue', sans-serif;
  font-size: 16px;
}

.navbar a {
  font-weight: 70;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  font-size: 16px;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

* {
  box-sizing: border-box
}

@media (min-width: 858px) {
        html {
            font-size: 13px;
        }
    }

    @media (min-width: 780px) {
        html {
            font-size: 12px;
        }
    }

    @media (min-width: 702px) {
        html {
            font-size: 16px;
        }
    }

    @media (min-width: 724px) {
        html {
            font-size: 16px;
        }
    }

    @media (max-width: 623px) {
        html {
            font-size: 13px;
        }
    }

  td {
	vertical-align: top;
  	line-height: 145%;
  }

.style1 {
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Helvetica Neue', sans-serif;
	padding-left: 50px;
	padding-right: 50px;
}

a:link {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	transition: color .2s ease-out;
}

img {
    float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
    box-sizing:border-box;
    width: 1000px;
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px;
}
